<div class="loading-container" *ngIf="isLoading">
    <app-loading-box></app-loading-box>
</div>

<div [class.invisible]="isEditing">
    
    
    <div class="table-responsive" *ngIf="items.length">
        <table class="table table-sm card-table">
            <thead>
                
                <tr>
                    <th>Acciones</th>
                    <th appTrans="edit-contact.name">Producto</th>
                    <th appTrans="edit-contact.email">Cantidad</th>
                    <th appTrans="edit-contact.email">U. Medida</th>
                    <th appTrans="edit-contact.email">Precio</th>
                    <th appTrans="edit-contact.email">Importe</th>
                </tr>
            </thead>

            
    
            <tbody>
                <ng-container *ngFor="let item of itemsObservable | async">
                    <tr *ngIf="(basic && item.basic) || (!basic && !item.basic)" (dblclick)="selectItem(item)">
                    <td width="55px" class="text-center">
                        <a class="text-danger mr-2 action" (click)="deleteItem(item)">
                            <i class="fe fe-trash"></i>
                        </a>
                    </td>
                    <td>{{ getProduct(item.product_id, 'name') }}</td>
                    <td style="width:150px">{{ item.amount | number:'1.2-2' }}</td>
                    <td style="width:180px" class="text-nowrap">{{ getProduct(item.product_id, 'measurement_unit') }}</td>
                    <td style="width:150px">{{ item.price | number:'1.2-2' }}</td>
                    <td style="width:150px">{{ item.amount * item.price | number:'1.2-2' }}</td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>

    <div class="card-body" *ngIf="!items.length">
        <h4 class="text-center" appTrans="edit-client-list.contact.no-contacts"></h4>
    </div>

    <div class="card-footer">
        <div class="row align-items-center">
            <div class="col">
                
                <button *ngIf="!basic" class="btn btn-sm btn-primary" data-toggle="modal" (click)="newItem()">
                    <i class="fe fe-plus"></i> <span appTrans="btn-add"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div [class.invisible]="!isEditing">
    <app-contract-product-form #editForm></app-contract-product-form>
</div>